{% extends "proyectoFinal/base.html"%}

{% load static %}

{% block main %}
<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class>COMPRATECH</h1>
        <p class="lead text-body-secondary">La mejor página para vender tus componentes de PC que ya no utilizas</p>
      </div>
    </div>
  </section>
  
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h2 class="fw-light">About Me</h2>
      </div>
    </div>
  </section>
  <p> Hola, me llamo Juan Norry, tengo 20 años, soy de Buenos Aires, Argentina y estudio Licenciatura en Informática en la universidad Siglo XXI, estoy en mi segundo año. ¿Por que elegí esta carrera? Bueno, lo primero que me acercó a las computadoras fueron los videojuegos, así descubrí mi pasión por el Hardware, por esa razón la página es de venta de componentes de PC, luego, hace unos años hice mi primer curso de programación, lo que llevo a que descubra a que me quería dedicar. Me anoté en este curso porque hace unos meses hice un curso introductorio de Python y me dejo con ganas de seguir aprendiendo, así es como me anote en CoderHouse. <br>Esta es la pagina que desarrolle con Django para el trabajo final, espero que le guste!</p>
</main>
{% endblock %}
